<footer>
    <div class="footer-top">
        <img src="/images/logo.png" alt="Logo Bequia">
        <a href="/"><i class="fa-brands fa-facebook-square"></i></a>
        <a href="/"><i class="fa-brands fa-instagram"></i></a>
        <p>+12345677</p>
        <p>bequia.company@gmail.com</p>

    </div>
    <div class="footer-bottom">
        <ul>
            <li><a href="/">Acerca de...</a> </li>
            <li><a href="/">Términos y Condiciones</a></li>
            <li><a href="/">Trabaja con nosotros</a></li>
            <li><a href="/">Información</a></li>
            <li><a href="/">Ayuda</a></li>
        </ul>
    </div>
</footer>