<!DOCTYPE html>
<html lang="en">
    <%- include('./partialViews/head.ejs') %>
<body>
    <%- include('./partialViews/header.ejs') %>

<form action="carrito" method="GET"> 
    <main class="main-productCart">
        <h1>Carrito de Compras</h1>
        <div class="contenedor-main-cart">
            <section class="cart-list-product">
                <article class="cart-product-cabecera">
                    <div class="cart-product-cab-left">
    
                        <p>Productos</p>
                    </div>
                    <div class="cart-product-cab-right">
                        
                            <p class="cart-product-cab-title">Precio</p>
                            <p class="cart-product-cab-title">Cantidad</p>
                            <p class="cart-product-cab-title">Subtotal</p>
                           
                        
                    </div>
                </article>

                <article class="cart-product">
                    <div class="cart-product-top">
    
                        <img src="/images/productos/carrito.jpg" alt="">
    
                        <div class="cart-product-detail">
                            <h3>Ojotas</h3>
                            <p><strong>Color:</strong> Negro</p> 
                            <p> <strong>Talla:</strong> 36</p>
                            <p><a href="/" class="link-delete-cart-product"><i class="fa-solid fa-trash-can"></i> Eliminar</a></p>
    
                        </div>
                    </div>
                    <div class="cart-product-bottom">
                        <div class="cart-product-price">
                            <p class="cart-product-title">Precio</p>
                            <p >$1.890</p>
                        </div>
                        <div class="cart-product-amount">
                            <p class="cart-product-title">Cantidad</p>
                            <p>1</p>
                        </div>
                        <div class="cart-product-subtotal">
                            <p class="cart-product-title">Subtotal</p>
                            <p>$1.890</p>
                        </div>
                    </div>
                </article>
            </section>
    
            <section class="cart-resume">
                <h3>Resumen de tu orden</h3>

                <div class="subtotal"><span>Subtotal:</span> $1.890 </div>
                <div class="envio"><span>Envio:</span> $300</div>
                <div class="total"><span>Total:</span> $2.190</div>

                <button>Finalizar Compra</button>
            </section>
        </div>
    
        
    </main>
</form>

    <%- include('./partialViews/footer.ejs') %>
</body>
</html>